@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  * {
    @apply font-inter;
  }

  .containers {
    @apply px-3 md:px-10;
  }

  .main-wrapper > .containers {
    @apply py-10;
  }

  header {
    @apply bg-white py-4 shadow-gray-200/70 shadow-md;

    .containers {
      @apply flex justify-between items-center;
    }

    ul {
      @apply flex gap-4;
    }

    ul li a {
      @apply flex items-center gap-1 py-1 px-2 rounded-sm;
    }
  }

  #register {
    @apply flex flex-col justify-center items-center;

    .heading {
      @apply text-center mb-3;

      h2 {
        @apply flex justify-center items-center gap-2 text-2xl font-bold mb-1;
      }
    }

    .form {
      @apply w-full md:w-96;

      form {
        @apply flex flex-col gap-3;
      }

      input {
        @apply w-full px-3 py-2 rounded-sm border border-neutral-400;
      }

      button {
        @apply bg-gray-900 text-white rounded-sm py-2 tracking-wider;

        &:hover {
          @apply bg-gray-800;
        }
      }
    }
  }

  .btn-logout {
    @apply flex items-center gap-1 bg-gray-900 text-white py-1 px-2 rounded-sm;

    &:hover {
      @apply bg-gray-800;
    }
  }
}

.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #000 transparent #555 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
